@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Font Settings */
body {
  @apply bg-background text-white font-sans;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Links */
a {
  @apply text-primary hover:underline;
}

/* Headings */
h1,
h2,
h3 {
  @apply font-bold text-gray-200;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}
